body{
    background-position: center;
    background-size: cover;
}

.heading{
    font-size: 30px;
    width: 100%;
    margin-top: 0;
}

#note{
color: black;
font-size: 23px;
font-style: oblique;
}

canvas{
    border: 10px black ridge;
}